@media only screen and (min-width: 800px){

    header{
        /* border: 2px solid red; */
        position: static;
        justify-content: flex-start;
        padding: 3rem;
        gap: 2rem;
        padding-top: 2rem;
    }
    nav{
        /* border: 2px solid green; */
        width: 100%;
        max-width: 100%;
        transform: none;
        position: static;
        justify-content: space-between;
        font-size: 0.8rem;
        color:hsl(257, 7%, 63%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background:transparent;
    }
    .nav-hr{
        display: none;
    }
    .header-btn{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    #sign-up{
        min-width: 7rem;
        padding: 0.7rem;
    }
    li:hover,.login:hover{
        color:black;
        cursor: pointer;
    }
    ul{
        flex-direction: row;
        gap: 2rem;
    }
    .header-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .sign-up{
        padding: 0.5rem;
        width: 5rem;
    }
    .hamburg{
        display: none;
    }
    .hr-img > img{
        width: 100%;
        padding-left: 3.5rem;
    }
    .search{
        background: url(./images/bg-shorten-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(257, 27%, 26%);
        top: -5rem;
    }
    .boost{
        background: url(./images/bg-boost-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(257, 27%, 26%);
    }
    .footer{
        /* border: 2px solid red; */
        padding: 3rem;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 8rem;
    }
    .footer > h1{
        font-size: 1.4rem;
        position: relative;
        top: -0.5rem;
    }
    .footer-right{
        /* border: 2px solid red; */
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        gap: 4rem;
    }
    .footer_content{
        /* border: 2px solid red; */
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        gap: 3rem;
    }
    #list-data{
        top: -4rem;
    }
}


@media only screen and (min-width: 1000px){

    header{
        /* border: 2px solid red; */
        justify-content: flex-start;
        gap: 3rem;
        padding:2rem 6rem;
    }
    .home{
        flex-direction: row;
        align-items: center;
    }
    .hl-tagline{
        font-size: 3rem;
        line-height: 3.3rem;
    }
    .home-left{
        /* border: 2px solid red; */
        padding-left: 6rem;
        gap:0.2rem;
        align-items: flex-start;
        text-align: left;
    }
    .hl-btn{
        margin-top: 1.5rem;
    }
    .content{
        padding: 3rem 6rem 6rem 6rem;
        padding-bottom: 9rem;
    }
    .content-div > h3{
        font-size: 1.8rem;
    }
    .search{
        /* border: 2px solid red; */
        max-width:100%;
        padding:2rem 3rem;
        top: -6.1rem;
    }
    .input_search{
        flex-direction: row;
    }
    input[type= "url"]{
        width: 58vw
    }
    .input-btn{
        max-width: 10rem;
    }
    .cards{
        flex-direction: row;
        gap: 1.5rem;
    }
    .card{
        /* border: 2px solid red; */
        max-width: 17.5rem;
        text-align: left;
        align-items: start;
    }
    hr{
        width: 90%;
        height: 6px;
        left: 0;
        top: 50%;
    }
    .card2{
        position: relative;
        top:2rem;
    }
    .card3{
        position: relative;
        top:4rem;
    }
    .footer{
        padding: 2rem 6rem;
        justify-content: space-between;
    }
    #list-data{
        /* border: 2px solid red; */
        max-width: 100%;
        top: -5rem;
        bottom: 0rem;
    }
    .li-hr{
        display: none;
    }
    #list-data > li{
        padding: 0.8rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .copy{
        padding: 0.7rem;
        min-width: 6rem;
    }
    .li-right-div{
        flex-direction: row;
        align-items: center; 
    }
}


@media only screen and (min-width: 1400px){

    header{
        padding:2.5rem 11rem;
    }
    .home-left{
        padding: 10.5rem
    }
    .hl-tagline{
        min-width: 30rem;
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .hr-img > img{
        width: 50rem;
        margin-right:  80rem;
    }
    .hl-para{
        max-width: 25rem;
        font-size: 1rem;
    }
    .search{
        top: -7.4rem;
    }
    .content{
        padding:4rem 10.5rem 10.5rem 10.5rem;
    }
    .content-div > h3{
        font-size: 2rem;
    }
    .content-para{
        min-width: 26rem;
    }
    .cards{
        gap: 2.3rem
    }
    .card{
        padding: 2rem;
        padding-top: 4rem;
        min-width: 21.2rem;
    }
    .card > h4{
        font-size: 1.2rem;
    }
    .boost > h3{
       font-size: 1.8rem;
       font-weight: 500;
    }
    .footer{
        padding:3rem 10.5rem;
        gap: 0rem;
    }
    .footer > h1{
        font-size: 1.5rem;
    }
    .footer-right{
        gap: 6rem;
    }
    .footer_content{
        gap: 6rem;
    }
    p{
        font-size: 0.9rem;
    }
    #list-data{
        max-width: 100%;
        top: -6.5rem;
    }
}
@media only screen and (min-width: 1460px){
    .logo{
        width: 8rem;
    }
    .hr-img > img{
        width: 50rem;
        margin-right: 30rem;
    }
    .hl-tagline{
        font-size: 5rem;
        line-height: 5.5rem;
    }
    .hl-para{
        /* border: 2px solid red; */
        font-size: 1.2rem;
        min-width: 36rem;
    }
    .search{
        padding:2.8rem 3rem;
        top: -8.5rem;
    }
    input[type= "url"]{
        width: 64vw;
        padding: 1.3rem;
        font-size: 1rem;
    }
    #list-data{
        top: -7.4rem;
    }
    #list-data > li{
        padding: 1rem;
    }
    #error{
        top: 4.2rem;
    }
    p,li,.btn, .btn2,.btn3{
        font-size: 1rem;
    }
    nav > ul > li, .login{
        font-size: 0.9rem;
    }
    .btn{
        min-width: 8rem;
        /* border: 2px solid red; */
        padding: 0.8rem 1rem;
    } 
    .sign-up{
        font-size: 0.9rem;
        padding: 0.6rem ;
    }
    .content-div{
        align-items: center;
    }
    .content-div > h3{
        font-size: 2.3rem;
    }
    .content-div > p{
        min-width: 30rem;
    }
    .card{
        min-width: 22.4rem;
        padding: 3.4rem 1.6rem 3.4rem 1.6rem;
    }
    .card > h4{
        font-size: 1.4rem;
    }
    .boost > h3{
        font-size: 2.3rem;
    }
    .footer{
        padding: 4rem 11rem 4rem 11rem;
    }
    .footer > h1{
        font-size: 2.3rem;
    }
    .f-content > h5{
        font-size: 1.3rem;
        font-weight: lighter;
    }
    .fa-brands{
        font-size: 1.8rem;
    }
}
